# Intro

Welcome to this SQL primer for beginners! The fundamentals of SQL, a programming language used to manage and manipulate data stored in databases, are covered in this manual. Essential topics will be covered, such as creating tables, selecting data with the **SELECT** statement, filtering data with the **WHERE** statement, grouping and ordering data, joining tables, using UNION, applying conditional logic with the **CASE** statement, updating and deleting data, using aliases and concatenation, partitioning data, and creating common table expressions (**CTE**). We'll also look at subqueries, stored procedures, temporary tables, and string functions. You will have a strong foundation in SQL by the end of this manual to start working with databases.

## **Optional**: Create Database

In [1]:
CREATE DATABASE GuidesPortolio
GO

# Lesson 1: Creating Tables

Objective: To learn how to create tables in SQL and populate them with data.

This code is a SQL query that creates a table called "**EmployeeDemographics**" in a database. 

The table has five columns, each defined with a name and a data type:

- **EmployeeID** (integer): this column will store unique identification numbers for each employee.
- **FirstName** (varchar): this column will store the first name of each employee, with a maximum length of 50 characters.
- **LastName** (varchar): this column will store the last name of each employee, with a maximum length of 50 characters.
- **Age** (integer): this column will store the age of each employee as a whole number.
- **Gender** (varchar): this column will store the gender of each employee, with a maximum length of 50 characters.

In [2]:
--CREATING TABLES: 

--TABLE 1 QUERY
CREATE TABLE EmployeeDemographics
(
    EmployeeID int,
    FirstName varchar(50),
    LastName varchar(50),
    Age int,
    Gender varchar(50)
)

The employee ID, job title, and salary columns of a new table called "EmployeeSalary" are created by this SQL command. Information about employee pay, including job titles and associated compensation, will be kept in this table. This table, along with the "EmployeeDemographics" table, is crucial to a database used to store employee data.

In [3]:
--TABLE 2 QUERY
CREATE TABLE EmployeeSalary
(
  EmployeeID int,
  JobTitle varchar(50),
  Salary int
)

This SQL statement populates the "EmployeeDemographics" table with data. The table's name is specified in the INSERT INTO statement, and the data being inserted is listed using the VALUES keyword.

One row of data is being inserted for each group of values in parentheses, with commas between each value. The values are arranged in the same order as the table's columns, with the first value corresponding to the first column, the second to the second, and so on.

Nine rows of data are being entered in this instance, each row containing details about a different employee, such as their employee ID, first and last names, age, and gender. The columns in the CREATE TABLE command for "EmployeeDemographics" were defined in the same sequence in which the data is entered.

In [67]:
--TABLE 1 INSERT QUERY
INSERT INTO [dbo].[EmployeeDemographics] VALUES
(1001, 'Jim', 'Halper', 30, 'Male'),
(1002, 'Pam', 'Beasley', 30, 'Female'),
(1003, 'Dwight', 'Schrute', 29, 'Male'),
(1004, 'Angela', 'Martin', 31, 'Female'),
(1005, 'Toby', 'Flenderson', 32, 'Male'),
(1006, 'Michael', 'Scott', 35, 'Male'),
(1007, 'Meredith', 'Palmer', 32, 'Female'),
(1008, 'Stanley', 'Hudson', 38, 'Male'),
(1009, 'Kevin', 'Malone', 31, 'Male')

This code adds values to the "EmployeeSalary" database. Together with their individual employee ID, each row includes the employee's job title, pay, and benefits information. Specific employees and their job titles and wages are represented by the values that are being inserted.

In [5]:
--TABLE 2 INSERT QUERY
INSERT INTO EmployeeSalary VALUES
(1001, 'Salesman', 45000),
(1002, 'Receptionist', 36000),
(1003, 'Salesman', 63000),
(1004, 'Accountant', 47000),
(1005, 'HR', 50000),
(1006, 'Regional Manager', 65000),
(1007, 'Supplier Relations', 41000),
(1008, 'Salesman', 48000),
(1009, 'Accountant', 42000)

# Lesson 2: SELECT & FROM Statement

Objective: Learn the SELECT statement, FROM clause, TOP keyword, DISTINCT keyword, COUNT function, AS keyword, and MAX, MIN, and AVG functions for querying and analyzing data in SQL.

The code SELECT \* FROM \[dbo\].\[EmployeeDemographics\] is a SQL query that selects all columns and rows from the EmployeeDemographics table. The asterisk symbol \* is a shorthand way of indicating that all columns should be included in the result set. The FROM clause specifies the table from which the data is being selected, and the \[dbo\] prefix indicates the database schema where the table is located (in this case, the default schema named "dbo").

In [6]:
SELECT * 
FROM [dbo].[EmployeeDemographics]

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

Returns Columns FirstName and LastName. 

_Note: Columns are separated by ","_

In [7]:
SELECT FirstName, LastName
FROM [dbo].[EmployeeDemographics]

FirstName,LastName
Jim,Halper
Pam,Beasley
Dwight,Schrute
Angela,Martin
Toby,Flenderson
Michael,Scott
Meredith,Palmer
Stanley,Hudson
Kevin,Malone

"TOP(5)", returns top 5 rows in the table. Usefull when working with millions of rows.

In [8]:
SELECT TOP(5) 
FROM [dbo].[EmployeeDemographics]

: Msg 156, Level 15, State 1, Line 2
Incorrect syntax near the keyword 'FROM'.

DISTINT statement return unique values at a column. Often use to filter for duplicates in a table.

In [9]:
SELECT DISTINCT(Gender) 
FROM [dbo].[EmployeeDemographics]

Gender
Female
Male

COUNT Return number of rows in column. Does not include null values

In [10]:
SELECT COUNT(*) 
FROM [dbo].[EmployeeDemographics]

(No column name)
9

"AS" is use for aliasin to name columns.

In [11]:
SELECT COUNT(FirstName) AS NumFirstName 
FROM [dbo].[EmployeeDemographics]

NumFirstName
9

Calculae Max Salary

In [12]:
SELECT MAX(Salary) 
FROM [dbo].EmployeeSalary

(No column name)
65000

Calculate Min Salary

In [18]:
SELECT MIN(Salary) 
FROM [dbo].EmployeeSalary

(No column name)
36000

Calculate Average Salary

In [17]:
SELECT AVG(Salary)
FROM [dbo].EmployeeSalary

(No column name)
48555

# Lesson 3: WHERE Statement

The Where statement is use to filter or limit the amount of data retrieve from table.

Some of the WHERE statement operators include: <span style="color: rgb(0, 128, 0); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">=, &lt;&gt;, &lt;, &gt;, AND, OR, LIKE, NULL, NOT NULL, IN,</span>

Looking for First Names equal to 'Jim'. Note, string variables requiere ' '

In [15]:
SELECT *
FROM [dbo].[EmployeeDemographics]
WHERE FirstName = 'Jim'

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halper,30,Male

Looking for First Names diferent than 'Jim"

In [13]:
-- Note:"<>" stands for not equal
SELECT *
FROM [dbo].[EmployeeDemographics]
WHERE FirstName <> 'Jim'

EmployeeID,FirstName,LastName,Age,Gender
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

Looking for Rows with age equal or greater than 30 years old

In [19]:
SELECT *
FROM [dbo].[EmployeeDemographics]
WHERE Age >= 30

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

Adding additional filters in the same statement. "OR" is mainly use to create a case in in the filter. "AND" is use to create additional conditions to the filter

In [22]:
SELECT *
FROM [dbo].[EmployeeDemographics]
WHERE Age >= 35 OR Age < 32

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1006,Michael,Scott,35,Male
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

Looking for Last Name with First Letter P and E somewhere after P

In [14]:
--"LIKE" is use for a broad search. Useful when we dont recall the specifics, its use along with "%"
SELECT *
FROM [dbo].[EmployeeDemographics]
WHERE LastName LIKE 'P%E%'

EmployeeID,FirstName,LastName,Age,Gender
1007,Meredith,Palmer,32,Female

Looking for NULLS in last name

In [25]:
SELECT *
FROM [dbo].[EmployeeDemographics]
WHERE LastName is NULL

To filer for multiple conditions we can use 'IN'

In [28]:
SELECT *
FROM [dbo].[EmployeeDemographics]
WHERE FirstName IN ('Jim', 'Pam')

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female

# Lesson 4: GROUP BY & ORDER BY

The GROUP BY statement it us tu group data in colum. 

And ORDER BY statement is use to sort data from A to Z or Z to A (ascending or descending)

GROUP BY example

In [37]:
SELECT Gender, COUNT(Gender)
FROM EmployeeDemographics
GROUP BY Gender

Gender,(No column name)
Female,3
Male,6

GROUP BY Gender and Age

In [38]:
SELECT Gender, Age, COUNT(Gender)
FROM EmployeeDemographics
GROUP BY Gender, Age

Gender,Age,(No column name)
Male,29,1
Female,30,1
Male,30,1
Female,31,1
Male,31,1
Female,32,1
Male,32,1
Male,35,1
Male,38,1

ORDER BY first example

Note: ORDER BY by default sorts by ascending, ASC.

In [40]:
SELECT *
FROM EmployeeDemographics
ORDER BY Age

EmployeeID,FirstName,LastName,Age,Gender
1003,Dwight,Schrute,29,Male
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1004,Angela,Martin,31,Female
1009,Kevin,Malone,31,Male
1005,Toby,Flenderson,32,Male
1007,Meredith,Palmer,32,Female
1006,Michael,Scott,35,Male
1008,Stanley,Hudson,38,Male

ORDER BY second example 

For the example we use the AS query for aliasin an create column 'CountGender'.

And with WHERE we filter for age greater than 31. And order by 'CountGender' descending order (DESC).

In [39]:
SELECT Gender, COUNT(Gender) AS CountGender
FROM EmployeeDemographics
WHERE Age > 31
GROUP BY Gender
ORDER BY CountGender DESC

Gender,CountGender
Male,3
Female,1

ORDER BY first Age and Second Gender (this last in descending)

In [41]:
SELECT *
FROM EmployeeDemographics
ORDER BY Age, Gender DESC

EmployeeID,FirstName,LastName,Age,Gender
1003,Dwight,Schrute,29,Male
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1009,Kevin,Malone,31,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1007,Meredith,Palmer,32,Female
1006,Michael,Scott,35,Male
1008,Stanley,Hudson,38,Male

# Lesson 5: JOIN

JOIN is a statement use to combine multiple tables into a single output. Different ways to use JOIN includes:

- Inner Join
- Full Join
- Left Join 
- Right Join
- Outer Join

To apply JOIN there must exist a comun column between tables. Preferebly a unique field, for example a Employee ID.

INNER JOIN Retrieve al rows in common in the selected columns

In [29]:
SELECT *
FROM [EmployeeDemographics]
INNER JOIN [EmployeeSalary]
    ON [EmployeeDemographics].[EmployeeID] = [EmployeeSalary].[EmployeeID]

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halper,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000

FULL OUTER JOIN retrieves all rows. 

Noter: since both tables use in the example have the exact rows. The Result is the same as INNET JOIN

In [30]:
SELECT *
FROM [EmployeeDemographics]
FULL OUTER JOIN [EmployeeSalary]
    ON [EmployeeDemographics].[EmployeeID] = [EmployeeSalary].[EmployeeID]

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halper,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000

LEFT OUTER JOIN retuns all rows from the left and only the matches from the right

In [31]:
SELECT *
FROM [EmployeeDemographics]
LEFT OUTER JOIN [EmployeeSalary]
    ON [EmployeeDemographics].[EmployeeID] = [EmployeeSalary].[EmployeeID]

EmployeeID,FirstName,LastName,Age,Gender,EmployeeID,JobTitle,Salary
1001,Jim,Halper,30,Male,1001,Salesman,45000
1002,Pam,Beasley,30,Female,1002,Receptionist,36000
1003,Dwight,Schrute,29,Male,1003,Salesman,63000
1004,Angela,Martin,31,Female,1004,Accountant,47000
1005,Toby,Flenderson,32,Male,1005,HR,50000
1006,Michael,Scott,35,Male,1006,Regional Manager,65000
1007,Meredith,Palmer,32,Female,1007,Supplier Relations,41000
1008,Stanley,Hudson,38,Male,1008,Salesman,48000
1009,Kevin,Malone,31,Male,1009,Accountant,42000

RIGHT OUTER JOIN retuns all rows from the reght and only the matches from the left

In [ ]:
SELECT *
FROM [EmployeeDemographics]
RIGHT OUTER JOIN [EmployeeSalary]
    ON [EmployeeDemographics].[EmployeeID] = [EmployeeSalary].[EmployeeID]

Joining Table to Retrieve highest payed Employees, Firstname different than MIchael

In [33]:
SELECT DISTINCT [EmployeeDemographics].EmployeeID, FirstName, LastName, Salary
FROM [EmployeeDemographics]
INNER JOIN [EmployeeSalary]
    ON [EmployeeDemographics].[EmployeeID] = [EmployeeSalary].[EmployeeID]
WHERE FirstName <> 'Michael'
ORDER BY Salary DESC

EmployeeID,FirstName,LastName,Salary
1003,Dwight,Schrute,63000
1005,Toby,Flenderson,50000
1008,Stanley,Hudson,48000
1004,Angela,Martin,47000
1001,Jim,Halper,45000
1009,Kevin,Malone,42000
1007,Meredith,Palmer,41000
1002,Pam,Beasley,36000

Joining Table to Retrieve Average Salary for Salesman

Note: GROUP BY is in order to calculate Average Salary

In [36]:
SELECT JobTitle, AVG(Salary)
FROM [EmployeeDemographics]
INNER JOIN [EmployeeSalary]
    ON [EmployeeDemographics].[EmployeeID] = [EmployeeSalary].[EmployeeID]
WHERE JobTitle = 'Salesman'
GROUP BY Jobtitle

JobTitle,(No column name)
Salesman,52000

# Lesson 6: UNION

Its use to combine multiple tables into one. The result of a UNION is a new table combining all the rows.

For the example create <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">WareHouseEmployeeDemographics from </span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeDemographics</span>

In [42]:
--CREATING A TABLE FROM ANOTHER TABLE
SELECT *
INTO WareHouseEmployeeDemographics
FROM EmployeeDemographics

UNION statement

In [43]:
SELECT *
FROM EmployeeDemographics
UNION
SELECT * 
FROM WareHouseEmployeeDemographics

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

UNION ALL statement combine tables when all the columns are the same regardless of duplicates

In [47]:
SELECT *
FROM EmployeeDemographics
UNION ALL
SELECT * 
FROM WareHouseEmployeeDemographics
ORDER BY EmployeeID

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halper,30,Male
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male
1009,Kevin,Malone,31,Male

# Lesson 7 CASE

CASE statements creates a column with values base conditions. Use cases include categorizing or labeling values

Tables without CASE statement

In [48]:
SELECT [FirstName], [LastName], [Age]
FROM [dbo].[EmployeeDemographics]
WHERE Age is NOT NULL
ORDER BY Age

FirstName,LastName,Age
Dwight,Schrute,29
Jim,Halper,30
Pam,Beasley,30
Angela,Martin,31
Kevin,Malone,31
Toby,Flenderson,32
Meredith,Palmer,32
Michael,Scott,35
Stanley,Hudson,38

Using CASE to create column Agegroup. 

NOTE key queries <span style="color: rgb(0, 128, 0); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">WHEN, THEN, ELSE, END and AS</span>

In [49]:
SELECT [FirstName], [LastName], [Age],
   CASE
     WHEN Age > 30 THEN 'Old'
     WHEN Age BETWEEN 27 AND 38 THEN 'Young'
     ELSE 'Baby'
   END AS AgeGroup
 FROM [dbo].[EmployeeDemographics]
 WHERE Age is NOT NULL
 ORDER BY Age;

FirstName,LastName,Age,AgeGroup
Dwight,Schrute,29,Young
Jim,Halper,30,Young
Pam,Beasley,30,Young
Angela,Martin,31,Old
Kevin,Malone,31,Old
Toby,Flenderson,32,Old
Meredith,Palmer,32,Old
Michael,Scott,35,Old
Stanley,Hudson,38,Old

Using CASE to create column New\_Salary

In [50]:
SELECT DISTINCT [FirstName], [LastName], [Age],
  CASE
      WHEN JobTitle = 'Salesman' THEN Salary*1.1
      WHEN JobTitle = 'Accountant' THEN Salary*1.05
      WHEN JobTitle = 'HR' THEN Salary*1.00001
      ELSE Salary*1.03
  END AS New_Salary
FROM [dbo].[EmployeeDemographics]
JOIN [dbo].[EmployeeSalary]
    ON [dbo].[EmployeeDemographics].EmployeeID = [dbo].[EmployeeSalary].EmployeeID

FirstName,LastName,Age,New_Salary
Angela,Martin,31,49350.00000
Dwight,Schrute,29,69300.00000
Jim,Halper,30,49500.00000
Kevin,Malone,31,44100.00000
Meredith,Palmer,32,42230.00000
Michael,Scott,35,66950.00000
Pam,Beasley,30,37080.00000
Stanley,Hudson,38,52800.00000
Toby,Flenderson,32,50000.50000

# Lesson 8 HAVING

HAVING statement is on conditional to GROUP BY statement. Its use instead of WHERE when GROUP BY is use in the query to aggregate data.

HAVING use case is as a filter. Just as WHERE statement

In [ ]:
SELECT DISTINCT [JobTitle], COUNT(JobTitle)
FROM [dbo].[EmployeeDemographics]
JOIN [dbo].[EmployeeSalary]
     ON [dbo].[EmployeeDemographics].EmployeeID = [dbo].[EmployeeSalary].EmployeeID
 GROUP BY JobTitle
 HAVING COUNT(JobTitle) > 1

HAVING example, the filter is the Average Salary greater than 45,000

In [ ]:
SELECT DISTINCT [JobTitle], AVG(Salary)
FROM [dbo].[EmployeeSalary]
GROUP BY JobTitle
HAVING AVG(Salary) > 45000
ORDER BY AVG(Salary)

# Lesson 9 UPDATE & DELETE

UPDATE statement is use to set new values. And DELETE to remove rows

Looking at the row we are updating

In [66]:
SELECT * 
FROM [dbo].[EmployeeDemographics]
WHERE EmployeeID = 1009

Setting values with UPDATE statement

In [63]:
UPDATE [dbo].[EmployeeDemographics]
SET EmployeeID = 1009, Age = 31, Gender = 'Female'
WHERE FirstName = 'Kevin' AND LastName = 'Malone'

Looking at changes

In [68]:
SELECT * 
FROM [dbo].[EmployeeDemographics]
WHERE EmployeeID = 1009

EmployeeID,FirstName,LastName,Age,Gender
1009,Kevin,Malone,31,Male

DELETE statement example.

NOTE: always check an be cautios before applying statement

In [65]:
DELETE 
FROM [dbo].[EmployeeDemographics]
WHERE EmployeeID = 1009

# Lesson 10: ALIASIN & CONCAT

ALIASING is a statement use to name or rename. And CONCAT is use to concatenate.

Using Concatenate query to combine columns FirstName and Last name with a ' ' space in the middle. And 'AS' to name the new column FullNam

In [69]:
SELECT CONCAT(FirstName,' ',LastName) AS FullName
FROM[dbo].[EmployeeDemographics]

FullName
Jim Halper
Pam Beasley
Dwight Schrute
Angela Martin
Toby Flenderson
Michael Scott
Meredith Palmer
Stanley Hudson
Jim Halper
Pam Beasley
Dwight Schrute
Angela Martin
Toby Flenderson
Michael Scott
Meredith Palmer
Stanley Hudson
Kevin Malone

Aliasin is use here to rename the tables. Useful to simplify syntax

In [71]:
SELECT Demo.EmployeeID, Sal.Salary
FROM [EmployeeDemographics] AS Demo
JOIN [EmployeeSalary] AS Sal
    ON Demo.EmployeeID = Sal.EmployeeID

EmployeeID,Salary
1001,45000
1002,36000
1003,63000
1004,47000
1005,50000
1006,65000
1007,41000
1008,48000
1001,45000
1002,36000
1003,63000
1004,47000
1005,50000
1006,65000
1007,41000
1008,48000
1009,42000

# Lesson 11: PARTITION BY

Results are similar to GROUP BY with the exception that it doesnt reduce the number or rows, it doesn't group the data.

Looking at tables to compare with PARTITION BY output.

In [72]:
SELECT *
FROM [EmployeeDemographics]

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

In [73]:
SELECT *
FROM [EmployeeSalary]

EmployeeID,JobTitle,Salary
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

In [75]:
SELECT FirstName, LastName, Gender, Salary
FROM [EmployeeDemographics] AS dem
JOIN [EmployeeSalary] AS sal
    ON dem.EmployeeID = sal.EmployeeID

FirstName,LastName,Gender,Salary
Jim,Halper,Male,45000
Pam,Beasley,Female,36000
Dwight,Schrute,Male,63000
Angela,Martin,Female,47000
Toby,Flenderson,Male,50000
Michael,Scott,Male,65000
Meredith,Palmer,Female,41000
Stanley,Hudson,Male,48000
Jim,Halper,Male,45000
Pam,Beasley,Female,36000
Dwight,Schrute,Male,63000
Angela,Martin,Female,47000
Toby,Flenderson,Male,50000
Michael,Scott,Male,65000
Meredith,Palmer,Female,41000
Stanley,Hudson,Male,48000
Kevin,Malone,Male,42000

Using PARTITION BY to count gender. And display it in every column

In [78]:
SELECT FirstName, LastName, Gender, Salary,
COUNT(Gender) OVER (PARTITION BY Gender) AS TotalGender
FROM [EmployeeDemographics] AS dem
JOIN [EmployeeSalary] AS sal
    ON dem.EmployeeID = sal.EmployeeID
GROUP BY FirstName, LastName, Gender, Salary

FirstName,LastName,Gender,Salary,TotalGender
Angela,Martin,Female,47000,3
Meredith,Palmer,Female,41000,3
Pam,Beasley,Female,36000,3
Dwight,Schrute,Male,63000,6
Jim,Halper,Male,45000,6
Kevin,Malone,Male,42000,6
Michael,Scott,Male,65000,6
Stanley,Hudson,Male,48000,6
Toby,Flenderson,Male,50000,6

# Lesson 12: CTEs

CTE is a common table expresion that is store only in memory. Use full to avoid writing complex queries repeatedly. To querie off the CTE table the SELECT state needs to be below the CTE code.

NOTE: key queries WITH and AS

In [81]:
WITH CTE_Employee AS
(
SELECT DISTINCT FirstName, LastName, Gender, Salary,
           COUNT(Gender) OVER (PARTITION BY Gender) AS TotalGender,
           AVG(Salary) OVER (PARTITION BY Gender) AS AvgSalary
FROM [EmployeeDemographics] AS Emp
JOIN [EmployeeSalary] AS Sal
        ON Emp.EmployeeID = Sal.EmployeeID
WHERE Salary > 45000
GROUP BY FirstName, LastName, Gender, Salary
)
SELECT *
FROM CTE_Employee

FirstName,LastName,Gender,Salary,TotalGender,AvgSalary
Angela,Martin,Female,47000,1,47000
Dwight,Schrute,Male,63000,4,56500
Michael,Scott,Male,65000,4,56500
Stanley,Hudson,Male,48000,4,56500
Toby,Flenderson,Male,50000,4,56500

# Lesson 13: TEMP TABLES

Statement to create a temporary table. Temp table differs in syntax from regular table only at the '#'. It can be use to capture a subset of a database to avoid writting a code repeatedly.

Creating temp table #temp\_Employee

In [83]:
DROP TABLE IF EXISTS #Temp_Employee
CREATE TABLE #temp_Employee 
(
EmployeeID int,
JobTitle varchar(100),
Salary int
)
SELECT *
FROM #temp_Employee

Inserting data to #temp\_Employee table

In [86]:
INSERT INTO #temp_Employee 
VALUES ('1001', 'HR', '45000')

Looking at #temp\_Employee table

In [87]:
SELECT *
FROM #temp_Employee

EmployeeID,JobTitle,Salary
1001,HR,45000
1001,HR,45000
1001,HR,45000

Inserting exsiting table, Employee, to <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">#temp_Employee table</span>

In [89]:
INSERT INTO #temp_Employee
SELECT *
FROM [EmployeeSalary];

EmployeeID,JobTitle,Salary
1001,HR,45000
1001,HR,45000
1001,HR,45000
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

In [98]:
SELECT *
FROM #temp_Employee;

EmployeeID,JobTitle,Salary
1001,HR,45000
1001,HR,45000
1001,HR,45000
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000
1001,Salesman,45000
1002,Receptionist,36000
1003,Salesman,63000
1004,Accountant,47000
1005,HR,50000
1006,Regional Manager,65000
1007,Supplier Relations,41000
1008,Salesman,48000
1009,Accountant,42000

Second Temp table example

In [95]:
DROP TABLE IF EXISTS #Temp_Employee2
CREATE TABLE #Temp_Employee2
(
JobTitle varchar(50),
EmployeePerJob int,
AvgAge int,
AvgSalary int
)

In [96]:
INSERT INTO #Temp_Employee2
SELECT JobTitle, COUNT(JobTitle), AVG(Age), AVG(Salary)
FROM [EmployeeDemographics] AS Emp
JOIN [EmployeeSalary] AS Sal
    ON emp.EmployeeID = Sal.EmployeeID
GROUP BY JobTitle;

In [97]:
SELECT *
FROM #Temp_Employee2;

JobTitle,EmployeePerJob,AvgAge,AvgSalary
Accountant,3,31,45333
HR,2,32,50000
Receptionist,2,30,36000
Regional Manager,2,35,65000
Salesman,6,32,52000
Supplier Relations,2,32,41000

# Lesson 14: STRING FUNCTIONS

Creating table with errors for the example:

In [100]:
CREATE TABLE EmployeeErrors (
EmployeeID varchar(50)
,FirstName varchar(50)
,LastName varchar(50)
)

In [101]:
INSERT INTO EmployeeErrors VALUES
('1001  ', 'Jimbo', 'Halbert')
,('  1002', 'Pamela', 'Beasely')
,('1005', 'TOby', 'Flenderson - Fired')

In [102]:
SELECT *
FROM EmployeeErrors

EmployeeID,FirstName,LastName
1001,Jimbo,Halbert
1002,Pamela,Beasely
1005,TOby,Flenderson - Fired

Using TRIM to remove spaces. TRIM have alternative verion LTRIM, trims spaces to the leftt and  RTRIM, trims spaces at the right.

In [103]:
SELECT EmployeeID, TRIM(EmployeeID) AS IDTRIM
FROM EmployeeErrors;

SELECT EmployeeID, LTRIM(EmployeeID) AS IDTRIM
FROM EmployeeErrors;

SELECT EmployeeID, RTRIM(EmployeeID) AS IDTRIM
FROM EmployeeErrors;

EmployeeID,IDTRIM
1001,1001
1002,1002
1005,1005

EmployeeID,IDTRIM
1001,1001
1002,1002
1005,1005

EmployeeID,IDTRIM
1001,1001
1002,1002
1005,1005

Using Replace to remove <span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">'- Fired' </span> <span style="font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;"><font color="#212121">and replace it with blanck,''.</font></span>

In [104]:
SELECT LastName, REPLACE(LastName, '- Fired','') AS LastNameFixed
FROM EmployeeErrors

LastName,LastNameFixed
Halbert,Halbert
Beasely,Beasely
Flenderson - Fired,Flenderson

Using SUBSTRING to extract part of the text from string variables. We must indicate where to start and how many space to return. In the example we start at 1 and take 3 next spaces

In [105]:
SELECT SUBSTRING(FirstName, 1, 3)
FROM EmployeeErrors

(No column name)
Jim
Pam
TOb

Using SUBSTRING to match names in different tables with JOIN. 

FUZZI MATCH. Its use to match columns across tables.

In [106]:
SELECT SUBSTRING(err.FirstName,1,3), SUBSTRING(dem.FirstName,1,3)
FROM EmployeeErrors AS err
JOIN EmployeeDemographics AS dem 
    ON SUBSTRING(err.FirstName,1,3) = SUBSTRING(dem.FirstName,1,3)

(No column name),(No column name)
Jim,Jim
Pam,Pam
TOb,Tob
Jim,Jim
Pam,Pam
TOb,Tob

Using LOWER and UPPER to change capitalization

In [107]:
SELECT FirstName, LOWER(FirstName)
FROM EmployeeErrors;

SELECT FirstName, UPPER(FirstName)
FROM EmployeeErrors;

FirstName,(No column name)
Jimbo,jimbo
Pamela,pamela
TOby,toby

FirstName,(No column name)
Jimbo,JIMBO
Pamela,PAMELA
TOby,TOBY

# Lesson 15: STORE PROCEDURES

Simple Store Procedure

In [108]:
CREATE PROCEDURE TEST 
AS 
SELECT *
FROM [dbo].[EmployeeDemographics]

Executing Store Procedure

In [109]:
EXEC TEST

EmployeeID,FirstName,LastName,Age,Gender
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1001,Jim,Halper,30,Male
1002,Pam,Beasley,30,Female
1003,Dwight,Schrute,29,Male
1004,Angela,Martin,31,Female
1005,Toby,Flenderson,32,Male
1006,Michael,Scott,35,Male
1007,Meredith,Palmer,32,Female
1008,Stanley,Hudson,38,Male
1009,Kevin,Malone,31,Male

Second  example

In [113]:
CREATE PROCEDURE Temp_Employee
AS
DROP TABLE IF EXISTS #temp_employee
CREATE TABLE #temp_employee (
JobTitle varchar(100),
EmployeesPerJob int ,
AvgAge int,
AvgSalary int
)
INSERT INTO #temp_employee
SELECT JobTitle, Count(JobTitle), Avg(Age), AVG(salary)
FROM EmployeeDemographics emp
JOIN EmployeeSalary sal
	ON emp.EmployeeID = sal.EmployeeID
GROUP BY JobTitle;

SELECT * 
FROM #temp_employee
GO;

Executing Store Procedure

In [114]:
EXEC Temp_Employee

JobTitle,EmployeesPerJob,AvgAge,AvgSalary
Accountant,3,31,45333
HR,2,32,50000
Receptionist,2,30,36000
Regional Manager,2,35,65000
Salesman,6,32,52000
Supplier Relations,2,32,41000

Altering existing PROCEDURE

In [115]:
ALTER PROCEDURE Temp_Employee
@JobTitle nvarchar(100)
AS
DROP TABLE IF EXISTS #temp_employee
CREATE TABLE #temp_employee3 (
JobTitle varchar(100),
EmployeesPerJob int ,
AvgAge int,
AvgSalary int
)

In [117]:
INSERT INTO #temp_employee
SELECT JobTitle, Count(JobTitle), Avg(Age), AVG(salary)
FROM EmployeeDemographics emp
JOIN EmployeeSalary sal
	ON emp.EmployeeID = sal.EmployeeID
WHERE JobTitle = @JobTitle --- make sure to change this in this script from original above
GROUP BY JobTitle

: Msg 137, Level 15, State 2, Line 6
Must declare the scalar variable "@JobTitle".

# Lesson 16: SUBQUERY

A subquery is a query within a query (or neste query)

Normal Query

In [ ]:
Select EmployeeID, JobTitle, Salary
From EmployeeSalary

Query within SELECT

In [ ]:
SELECT EmployeeID, Salary, 
(SELECT AVG(Salary) FROM EmployeeSalary) AS AllAvgSalary
FROM EmployeeSalary

In [ ]:
-- How to do it with Partition By
SELECT EmployeeID, Salary, AVG(Salary) OVER () AS AllAvgSalary
FROM EmployeeSalary

In [ ]:
-- Why Group By doesn't work
Select EmployeeID, Salary, AVG(Salary) as AllAvgSalary
From EmployeeSalary
Group By EmployeeID, Salary
order by EmployeeID

Query within FROM

In [ ]:
-- Subquery in From
Select a.EmployeeID, AllAvgSalary
From 
	(Select EmployeeID, Salary, AVG(Salary) over () as AllAvgSalary
	 From EmployeeSalary) a
Order by a.EmployeeID

Query within Where

In [ ]:
-- Subquery in Where
Select EmployeeID, JobTitle, Salary
From EmployeeSalary
where EmployeeID in (
	Select EmployeeID 
	From EmployeeDemographics
	where Age > 30)